.individualhouse4 {
  background-image: url("./individual_house_20.jpeg");
  background-repeat: no-repeat;
  height: 100%;
}

.individualhouse4-content {
  padding: 88px 0px 0px 0px;
}

.individualhouse4-text {
  text-align: center;
  color: azure;
  font-size: xxx-large;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  padding: 60px;
  margin-bottom: 230px;
}

.individualhouse4-images {
  background-color: white;
}

.images {
  height: 300px;
  width: 506px;
  display: inline-block;
}

.image {
  padding: 45px;
}

.back-button {
  font-size: larger;
  font-weight: bold;
  padding: 30px;
}

.back-button-route {
  text-decoration: underline;
  color: black;
}
