.header-content {
    background-color: grey;
    position: fixed;
    width: 100%;
    opacity: 0.75;
    height: 88px;
}

.application-title {
    font-size: x-large;
    font-weight: bold;
    padding: 28px 40px;
    display: inline-block;
}

.application-title:hover {
    cursor: pointer;
}

.application-title-route {
    text-decoration: none;
    color: black;
}

.navigation-title-route {
    text-decoration: none;
    color: black;
}

.navigation-title-route:hover {
    color: white;
}

.about-us-title {
    font-size: larger;
    font-weight: bold;
    padding: 0px 5px;
}
