.header-content {
    background-color: grey;
    position: fixed;
    width: 100%;
    opacity: 0.75;
    height: 88px;
}

.application-title {
    font-size: x-large;
    font-weight: bold;
    padding: 28px 40px;
    display: inline-block;
    vertical-align: middle;
}

.application-title:hover {
    cursor: pointer;
}

.application-title-route {
    text-decoration: none;
    color: black;
}