.footer-content {
  background-color: black;
  height: 80px;
  width: 100%;
}

.footer-text {
  color: #d1dddd;
  padding: 29px;
}

.footer-text-mail {
  text-decoration: underline;
  padding: 0 915px 0 0 ;
}

.footer-text-number {
  text-decoration: underline;
  text-align: right;
}
